.quiz {
	&__mobile-container {
		@include breakpoints-max-width(md) {
			padding: 15px 20px;
			position: relative;
			height: 100vh;
		}
	}

	&__content {
		display: flex;

		@include breakpoints-max-width(md) {
			flex-direction: column;
		}
	}

	&__title-block,
	&__forms-block {
		position: relative;
		height: 100vh;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include breakpoints-max-width(md) {
			height: auto;
			position: static;
		}
	}

	&__logo {
		&-svg {
			width: 42px;
			height: 50px;

			@include breakpoints-max-width(md) {
				width: 33px;
				height: 40px;
			}
		}
	}

	&__title {
		margin: 0 auto;
		width: 530px;
		color: $whitePage;
		font-size: 64px;

		@include breakpoints-max-width(xl) {
			margin: 50% auto 0;
			width: 85%;
		}

		@include breakpoints-max-width(lg) {
			margin: 65% auto 0;
			width: 90%;
			font-size: 38px;
		}

		@include breakpoints-max-width(md) {
			font-size: 24px;
			text-align: center;
			color: $textTitle;
			margin: 192px auto 0;
		}

		@include breakpoints-max-width(xs) {
			margin: 122px auto 0;
		}

		&-block {
			padding: 30px 0 30px 95px;
			z-index: 1;

			@include breakpoints-max-width(xl) {
				padding: 30px 0 30px 40px;
			}

			@include breakpoints-max-width(lg) {
				padding: 30px 0 30px 20px;
				width: 40%;
			}

			@include breakpoints-max-width(md) {
				background: $whitePage;
				width: 100%;
				padding: 0;
				z-index: 0;
			}
		}
	}

	&__back {
		&-svg {
			width: 15px;
			height: 15px;
			fill: $whitePage;
			transform: rotate(180deg);

			@include breakpoints-max-width(md) {
				fill: $hardPurple;
			}
		}

		&-text {
			color: $whitePage;
			font-size: 16px;
			font-weight: $semibold;

			@include breakpoints-max-width(md) {
				color: $textTitle;
			}
		}

		&-button {
			width: 130px;
			//margin-top: auto;
			padding-top: 108px;
			display: flex;
			align-items: center;
			gap: 11px;

			@include breakpoints-max-width(md) {
				padding-top: 0;
				position: absolute;
				bottom: 20px;
			}
		}
	}

	&__forms-block {
		background: $cardWhite;
		padding: 30px 95px 44px 0;

		@include breakpoints-max-width(xl) {
			padding: 30px 40px 30px 0;
		}

		@include breakpoints-max-width(lg) {
			padding: 30px 20px 30px 0;
			width: 60%;
		}

		@include breakpoints-max-width(md) {
			width: 100%;
			padding: 0;
		}
	}

	&__pagination-status {
		//position: absolute;
		margin-left: auto;
		padding-bottom: 90px;
		top: 33px;
		right: 95px;
		color: $textTitle;
		font-size: 30px;
		font-family: $supportFonts;
		font-weight: $medium;

		@include breakpoints-max-width(xl) {
			right: 30px;
		}

		@include breakpoints-max-width(lg) {
			right: 20px;
		}

		@include breakpoints-max-width(md) {
			top: 20px;
			font-size: 20px;
		}
	}

	&__circle-yellow,
	&__circle-orange {
		z-index: 0;
		width: 2px;
		height: 2px;
	}

	&__circle-yellow {
		background: $yellow;
		top: 72.5%;
		left: 78.5%;
	}

	&__circle-orange {
		background: $orangeLite;
		top: 21%;
		left: 12.7%;

		@include breakpoints-max-width(xl) {
			left: 25%;
		}

		@include breakpoints-max-width(lg) {
			top: 13%;
		}

		@include breakpoints-max-width(sm) {
			display: none;
		}
	}

	&__arc-yellow {
		position: absolute;
		top: 75%;
		right: 10%;
		height: 200px;
		width: 350px;
		display: flex;
		z-index: 0;

		@include breakpoints-max-width(md) {
			height: 100px;
			bottom: 10%;
			right: 5%;
		}

		@include breakpoints-max-width(sm) {
			display: none;
		}
	}

	&__bottom-block {
		height: 200px;
		width: 100%;

		@include breakpoints-max-width(md) {
			height: 100px;
		}
	}

	&__arc-top,
	&__arc-bottom,
	&__arc-orange {
		position: absolute;
		fill: transparent;
	}

	&__arc-top,
	&__arc-bottom {
		stroke: $yellow;
		width: 255px;
		height: 184px;
	}

	&__arc-orange {
		stroke: $orange;
		width: 145px;
		height: 150px;
		top: 11.3%;
		right: 76%;
		transform-origin: 10px 10px;
		animation: rotate 6s linear infinite;
	}

	&__arc-top {
		top: -66%;
		right: -11%;

		@include breakpoints-max-width(xl) {
			top: -55%;
		}

		@include breakpoints-max-width(md) {
			top: -210%;
		}
	}

	&__arc-bottom {
		bottom: 11%;
		left: -14%;
		transform: rotate(180deg);

		@include breakpoints-max-width(xl) {
			bottom: 0;
		}
	}

	&__buttons-form {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__form {
		padding-left: 30px;
		width: 525px;
		margin: 0 auto;

		@include breakpoints-max-width(xl) {
			padding-left: 0;
			margin: 57% auto 0;
			width: 90%;
		}

		@include breakpoints-max-width(lg) {
			margin: 47% auto 0;
		}

		@include breakpoints-max-width(md) {
			margin: 48px auto 0;
		}

		@include breakpoints-max-width(sm) {
			margin: 14px auto 0;
			width: 100%;
		}
	}

	&__label {
		font-family: $supportFonts;
		font-size: 18px;
		opacity: 0.5;

		@include breakpoints-max-width(md) {
			display: none;
		}
	}

	&__input {
		padding: 0 95px 0 40px;
		margin-top: 16px;
		width: 100%;
		height: 105px;
		background: $whitePage;

		@include breakpoints-max-width(md) {
			height: 56px;
			padding: 0 55px 0 15px;
		}

		&-value-button {
			padding: 40px;
			font-weight: $semibold;
			text-align: start;
			background: $whitePage;
			width: 100%;
			height: 103px;
			border: 2px solid $whitePage;
			border-radius: 16px;
			transition: border 0.5s ease-in-out;

			&:hover {
				border: 2px solid $hardPurple;
			}
		}

		&-button {
			position: absolute;
			top: 39%;
			right: 16px;
			height: 69px;
			width: 69px;

			@include breakpoints-max-width(md) {
				top: 38%;
				right: 12px;
				height: 32px;
				width: 32px;
			}

			&:hover {
				.quiz__input-svg {
					fill: $orange;
				}
			}

			&_inactive {
				background: $inactive;
				border: 2px solid $inactive;
				cursor: not-allowed;

				&:hover {
					background: $inactive;
					border: 2px solid $inactive;

					.quiz__input-svg {
						fill: $whitePage;
					}
				}
			}
		}

		&-svg {
			width: 15px;
			height: 15px;
			fill: $whitePage;

			@include breakpoints-max-width(md) {
				width: 11px;
				height: 11px;
			}
		}
	}
}
