.quiz {
	&__mobile-container {
		@include breakpoints-max-width(md) {
			background: $ivory;
			padding: 15px 20px;
			position: relative;
			height: 100vh;
			z-index: 0;
		}
	}

	&__content {
		display: flex;

		@include breakpoints-max-width(md) {
			flex-direction: column;
		}
	}

	&__title-block,
	&__forms-block {
		position: relative;
		height: 100vh;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include breakpoints-max-width(md) {
			height: auto;
			position: static;
		}
	}

	&__logo {
		&-svg {
			width: 42px;
			height: 50px;

			@include breakpoints-max-width(md) {
				width: 33px;
				height: 40px;
			}
		}
	}

	&__title {
		margin: 0 auto;
		width: 521px;
		color: $whitePage;
		font-size: 64px;

		@include breakpoints-max-width(xl) {
			width: 85%;
		}

		@include breakpoints-max-width(lg) {
			width: 90%;
			font-size: 38px;
		}

		@include breakpoints-max-width(md) {
			font-size: 24px;
			text-align: center;
			color: $textTitle;
			margin: 192px auto 0;
			width: 100%;
		}

		@include breakpoints-max-width(xs) {
			margin: 122px auto 0;
		}

		&-two {
			@include breakpoints-max-width(md) {
				margin: 168px auto 0;
			}

			@include breakpoints-max-width(xs) {
				margin: 98px auto 0;
			}
		}

		&-third {
			@include breakpoints-max-width(md) {
				margin: 50px auto 0;
			}

			@include breakpoints-max-width(xs) {
				margin: 30px auto 0;
			}
		}

		&-fourth {
			@include breakpoints-max-width(md) {
				margin: 105px auto 0;
			}

			@include breakpoints-max-width(xs) {
				margin: 20px auto 0;
			}
		}

		&-five {
			@include breakpoints-max-width(md) {
				margin: 105px auto 0;
			}

			@include breakpoints-max-width(xs) {
				margin: 35px auto 0;
			}
		}

		&-six {
			@include breakpoints-max-width(md) {
				margin: 98px auto 0;
			}

			@include breakpoints-max-width(xs) {
				margin: 15px auto 0;
			}
		}

		&-seven {
			@include breakpoints-max-width(md) {
				margin: 155px auto 0;
			}

			@include breakpoints-max-width(xs) {
				margin: 68px auto 0;
			}
		}

		&-eight {
			@include breakpoints-max-width(md) {
				margin: 40px auto 0;
			}

			@include breakpoints-max-width(xs) {
				margin: 30px auto 0;
			}
		}

		&-block {
			padding: 30px 0 30px 95px;
			z-index: 1;

			@include breakpoints-max-width(xl) {
				padding: 30px 0 30px 40px;
			}

			@include breakpoints-max-width(lg) {
				padding: 30px 0 30px 20px;
				width: 40%;
			}

			@include breakpoints-max-width(md) {
				background: transparent;
				width: 100%;
				padding: 0;
				z-index: 2;
			}
		}
	}

	&__back {
		&-svg {
			width: 15px;
			height: 15px;
			fill: $whitePage;
			transform: rotate(180deg);

			@include breakpoints-max-width(md) {
				fill: $hardPurple;
			}
		}

		&-text {
			color: $whitePage;
			font-size: 16px;
			font-weight: $semibold;

			@include breakpoints-max-width(md) {
				color: $textTitle;
			}
		}

		&-button {
			width: 130px;
			padding-top: 108px;
			display: flex;
			align-items: center;
			gap: 11px;

			@include breakpoints-max-width(md) {
				padding-top: 0;
				position: absolute;
				bottom: 20px;
			}
		}
	}

	&__forms-block {
		background: $cardWhite;
		padding: 30px 95px 44px 0;

		@include breakpoints-max-width(xl) {
			padding: 30px 40px 30px 0;
		}

		@include breakpoints-max-width(lg) {
			padding: 30px 20px 30px 0;
			width: 60%;
		}

		@include breakpoints-max-width(md) {
			background: $ivory;
			width: 100%;
			padding: 0;
		}
	}

	&__pagination-status {
		margin-left: auto;
		padding-bottom: 90px;
		color: $textTitle;
		font-size: 30px;
		font-family: $supportFonts;
		font-weight: $medium;

		@include breakpoints-max-width(xl) {
			right: 30px;
		}

		@include breakpoints-max-width(lg) {
			right: 20px;
		}

		@include breakpoints-max-width(md) {
			position: absolute;
			top: 20px;
			font-size: 20px;
		}
	}

	&__bottom-block {
		height: 200px;
		width: 100%;

		@include breakpoints-max-width(md) {
			height: 100px;
		}

		@include breakpoints-max-width(sm) {
			display: none;
		}
	}

	&__buttons-form {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include breakpoints-max-width(md) {
			gap: 14px;
			margin-top: 30px;
		}

		&-boolean {
			@include breakpoints-max-width(md) {
				flex-direction: row;
			}
		}

		&-grid {
			display: grid;
			gap: 26px;
			grid-template-columns: 1fr 1fr;

			@include breakpoints-max-width(sm) {
				row-gap: 10px;
				column-gap: 15px;
			}
		}
	}

	&__form {
		padding-left: 30px;
		width: 525px;
		margin: 0 auto;

		@include breakpoints-max-width(xl) {
			padding-left: 0;
			width: 90%;
		}

		@include breakpoints-max-width(md) {
			margin: 48px auto 0;
			position: sticky;
			z-index: 2;
		}

		@include breakpoints-max-width(sm) {
			margin: 0 auto;
			width: 100%;
		}

		&-grid {
			padding-left: 35px;
			margin: 0 auto;
			width: 83%;

			@include breakpoints-max-width(xl) {
				padding-left: 0;
				width: 90%;
			}

			@include breakpoints-max-width(md) {
				margin: 25px auto;
			}

			@include breakpoints-max-width(sm) {
				width: 100%;
				margin: 30px auto;
			}
		}
	}

	&__label {
		font-family: $supportFonts;
		font-size: 18px;
		opacity: 0.5;

		@include breakpoints-max-width(md) {
			display: none;
		}
	}

	&__input {
		padding: 0 95px 0 40px;
		margin-top: 16px;
		width: 100%;
		height: 105px;
		background: $whitePage;

		@include breakpoints-max-width(md) {
			margin-top: 29px;
			height: 56px;
			padding: 0 55px 0 15px;
		}

		&-value-button {
			padding: 25px 80px 25px 40px;
			font-size: 18px;
			font-family: $supportFonts;
			font-weight: $semibold;
			text-align: start;
			background: $whitePage;
			width: 100%;
			line-height: 1.5;
			letter-spacing: -0.3px;
			height: 103px;
			border: 2px solid $whitePage;
			border-radius: 16px;
			transition: border 0.5s ease-in-out;
			white-space: normal;
			z-index: 1;

			@include breakpoints-max-width(md) {
				height: 100%;
				font-size: 16px;
				text-align: center;
				padding: 16px 33px;
				line-height: 1.3;
			}

			@include breakpoints-max-width(xs) {
				padding: 16px 27px;
			}

			&:hover {
				border: 2px solid $hardPurple;
			}

			&-boolean {
				@include breakpoints-max-width(md) {
					padding: 38px 40px;
				}

				@include breakpoints-max-width(sm) {
					padding: 40px;
				}
			}

			&-grid {
				@include breakpoints-max-width(md) {
					height: 104px;
					padding: 5px 20px;
				}

				@include breakpoints-max-width(xs) {
					padding: 5px 10px;
				}
			}
		}

		&-button {
			position: absolute;
			top: 39%;
			right: 16px;
			height: 69px;
			width: 69px;

			@include breakpoints-max-width(md) {
				top: 49%;
				right: 12px;
				height: 32px;
				width: 32px;
			}

			&:hover {
				.quiz__input-svg {
					fill: $orange;

					@include breakpoints-max-width(md) {
						fill: $whitePage;
					}
				}
			}

			&_inactive {
				background: $inactive;
				border: 2px solid $inactive;
				cursor: not-allowed;

				&:hover {
					background: $inactive;
					border: 2px solid $inactive;

					.quiz__input-svg {
						fill: $whitePage;
					}
				}
			}
		}

		&-svg {
			width: 15px;
			height: 15px;
			fill: $whitePage;

			@include breakpoints-max-width(md) {
				width: 11px;
				height: 11px;
			}
		}
	}
}
