<section class="forms__background">
	<div class="sing-in__container">
		<div class="sing-in__content">
			<div class="sing-in__header"></div>
			<div class="sing-in__block forms__block">
				<h1 class="sing-in__title">Sign in with email</h1>
				<p class="sing-in__text">Please enter your e-mail and password:</p>
				<form
					class="sing-in__form forms__form"
					id="singIn">
					<div class="input-block">
						<input
							class="sing-in__input input"
							name="email"
							id="email"
							placeholder="Email" />
					</div>
					<div class="input-block">
						<span class="sing-in__input-label-right input-label-right">Forgot password?</span>
						<input
							class="sing-in__input input"
							name="password"
							id="password"
							placeholder="Password" />
					</div>
					<button
						type="submit"
						aria-label="Sign in"
						class="button orange-button sing-in__button-main">
						Sign in
					</button>
				</form>
				<p class="sing-in__text-border forms__text-border">or sign in with...</p>
				<div class="sing-in__button-block forms__button-block">
					<load
						src="src/components/base/button.html"
						class_button="forms__button button ivory-button"
						label="Google"
						button_text="<svg class='forms__button-svg'><use href='#google'></use></svg>
				<span class='forms__button-text'>Google</span>" />
					<load
						src="src/components/base/button.html"
						class_button="forms__button button ivory-button"
						label="Apple"
						button_text="<svg class='forms__button-svg'><use href='#apple'></use></svg>
				<span class='forms__button-text'>Apple</span>" />
					<load
						src="src/components/base/button.html"
						class_button="forms__button button ivory-button"
						label="Facebook"
						button_text="<svg class='forms__button-svg'><use href='#facebook-logo'></use></svg>
				<span class='forms__button-text'>Facebook</span>" />
				</div>
			</div>
			<span class="forms__bottom-text sing-in__bottom-text">
				Don't have an account?
				<a
					class="forms__link"
					href="/vitamin-online/src/pages/sign-up.html?form=regular">
					Create one
				</a>
			</span>
		</div>
	</div>
</section>
