<section class="forms__background">
	<div class="sing-in__container">
		<div class="sing-in__content">
			<div class="sing-in__header"></div>
			<div class="sing-in__block forms__block">
				<h1 class="sing-in__title">Sign in with email</h1>
				<p class="sing-in__text">Please enter your e-mail and password:</p>
				<form class="sing-in__form forms__form">
					<div class="input-block">
						<label
							class="sing-in__input-label input-label"
							for="email">
							Email
						</label>
						<input
							class="sing-in__input input"
							name="email"
							id="email" />
					</div>
					<div class="input-block">
						<label
							class="sing-in__input-label input-label"
							for="password">
							Password
						</label>
						<span class="sing-in__input-label-right input-label-right">Forgot password?</span>
						<input
							class="sing-in__input input"
							name="password"
							id="password" />
					</div>
				</form>
				<load
					src="src/components/base/button.html"
					class_button="button orange-button sing-in__button-main"
					label="Sign in"
					button_text="Sign in" />
				<p class="sing-in__text-border forms__text-border">or sign in with...</p>
				<div class="sing-in__button-block forms__button-block">
					<load
						src="src/components/base/button.html"
						class_button="forms__button button ivory-button"
						label="Google"
						button_text="<svg class='forms__button-svg'><use href='#google'></use></svg>
				<span class='forms__button-text'>Google</span>" />
					<load
						src="src/components/base/button.html"
						class_button="forms__button button ivory-button"
						label="Apple"
						button_text="<svg class='forms__button-svg'><use href='#apple'></use></svg>
				<span class='forms__button-text'>Apple</span>" />
					<load
						src="src/components/base/button.html"
						class_button="forms__button button ivory-button"
						label="Facebook"
						button_text="<svg class='forms__button-svg'><use href='#facebook-logo'></use></svg>
				<span class='forms__button-text'>Facebook</span>" />
				</div>
			</div>
			<span class="forms__bottom-text sing-in__bottom-text">
				Don't have an account?
				<a
					class="forms__link"
					href="#">
					Create one
				</a>
			</span>
		</div>
	</div>
</section>
