.sing-in {
	&__content {
		margin: 30px auto 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include breakpoints-max-width(md) {
			margin: 20px auto 0;
		}

		@include breakpoints-max-width(sm) {
			margin: 22px auto 0;
		}
	}

	&__block {
		margin-top: 77px;

		@include breakpoints-max-width(sm) {
			margin-top: 75px;
		}
	}

	&__title {
		font-size: 26px;
		text-align: center;

		@include breakpoints-max-width(md) {
			font-size: 24px;
		}
	}

	&__text {
		margin-top: 7px;
		font-size: 16px;
		line-height: 175%;
		text-align: center;

		@include breakpoints-max-width(md) {
			font-size: 14px;
			margin-top: 5px;
		}
	}

	&__button-main {
		margin-top: 20px;
		padding: 19px 103px;

		@include breakpoints-max-width(md) {
			padding: 17px 103px;
		}

		@include breakpoints-max-width(sm) {
			width: 100%;
		}
	}

	&__form {
		margin-top: 23px;

		@include breakpoints-max-width(md) {
			margin-top: 19px;
		}
	}

	&__input {
		width: 444px;
		height: 56px;

		@include breakpoints-max-width(sm) {
			width: 100%;
		}
	}

	&__text-border {
		margin-top: 36px;

		&:after,
		&:before {
			height: 1px;
			width: 242px;

			@include breakpoints-max-width(lg) {
				width: 130%;
			}

			@include breakpoints-max-width(sm) {
				top: 13px;
				width: 73%;
			}

			@include breakpoints-max-width(xs) {
				width: 50%;
			}
		}

		&:after {
			left: 121%;

			@include breakpoints-max-width(sm) {
				left: 128%;
			}
		}

		&:before {
			right: 121%;

			@include breakpoints-max-width(sm) {
				right: 128%;
			}
		}
	}

	&__button {
		&-block {
			margin-top: 36px;
		}
	}

	&__bottom-text {
		padding: 85px 0 59px;

		@include breakpoints-max-width(xl) {
			padding: 85px 0 40px;
		}

		@include breakpoints-max-width(sm) {
			padding: 90px 0 40px;
			position: relative;
		}
	}
}
