.vitamins {
	background: $liteMint;
}

.minerals {
	background: $litePurple;
}

.hard-purple {
	background: $hardPurple;
}

.hard-blue {
	background: $hardBlue;
}

.prenatal-vitamins {
	background: $pink;
}

.relief {
	background: $blue;
}

.antioxidants {
	background: $orange;
}

.weight-loss {
	background: $purpleLite;
}

.probiotics {
	background: $redLite;
}
