.button {
    font-size: 20px;
    border-radius: 100px;
    font-weight: $bold;
    font-family: $mainFont;
    text-align: center;
    transition:
        background-color 0.5s ease-in-out,
        color 0.5s ease-in-out;

    @include breakpoints-max-width(sm) {
        font-size: 16px;
    }
}

.orange-button {
    background-color: $orange;
    color: $whitePage;
    border: 2px solid $orange;

    &:hover {
        background-color: $whitePage;
        color: $orange;
    }
}

.purple-button {
    background-color: $purple;
    color: $whitePage;
    border: 2px solid $purple;

    &:hover {
        background-color: $whitePage;
        color: $purple;
    }
}

.link {
    display: flex;
    align-items: center;
    gap: 7px;

    &__text {
        font-size: 20px;
        font-family: $mainFont;

        @include breakpoints-max-width(md) {
            font-size: 14px;
        }

        &-orange {
            color: $orangeLink;
        }

        &-white {
            color: $whitePage;
        }
    }

    &__svg {
        width: 10px;
        height: 15px;

        @include breakpoints-max-width(md) {
            width: 10px;
            height: 10px;
        }

        &-orange {
            fill: $orangeLink;
        }

        &-white {
            fill: $whitePage;
        }
    }
}
