.forms {
	&__background {
		position: absolute;
		background: $ivory;
		width: 100%;
		//height: 100%;

		@include breakpoints-max-width(md) {
			background: $whitePage;
		}
	}

	&__logo {
		&-svg {
			width: 42px;
			height: 50px;
		}
	}

	&__mobile {
		display: flex;
		align-items: center;

		&:after {
			content: "";
			display: flex;
			position: absolute;
			top: 68px;
			left: 0;
			background: $line;
			height: 2px;
			width: 100%;
		}

		&-link {
			position: absolute;
			top: 23px;
			right: 95%;

			@include breakpoints-max-width(sm) {
				right: 89%;
			}

			@include breakpoints-max-width(xs) {
				right: 87%;
			}
		}

		&-svg {
			transform: rotate(180deg);
			width: 11px;
			height: 20px;
		}

		&-title {
			font-size: 20px;
			text-align: center;
			font-weight: $medium;
		}
	}

	&__block {
		display: flex;
		width: 920px;
		flex-direction: column;
		align-items: center;
		padding: 60px 119px;
		background: $whitePage;

		@include breakpoints-max-width(lg) {
			width: 80%;
			min-width: 680px;
		}

		@include breakpoints-max-width(md) {
			width: 100%;
			padding: 0;
			min-width: 0;
		}
	}

	&__text-border {
		position: relative;
		font-size: 20px;
		font-weight: $medium;
		font-family: $mainFont;

		@include breakpoints-max-width(md) {
			font-size: 16px;
		}

		&:after,
		&:before {
			content: "";
			display: flex;
			position: absolute;
			top: 17px;
			background: $line;
		}
	}

	&__button {
		display: flex;
		padding: 17px 21px;
		border-radius: 12px;
		gap: 8px;

		@include breakpoints-max-width(sm) {
			justify-content: space-between;
			padding: 15px 21px;
			gap: 0;
		}

		&-block {
			display: flex;
			gap: 32px;

			@include breakpoints-max-width(lg) {
				gap: 20px;
			}

			@include breakpoints-max-width(md) {
				width: 95%;
				gap: 5px;
				justify-content: space-between;
			}

			@include breakpoints-max-width(sm) {
				flex-direction: column;
				width: 100%;
				margin-top: 37px;
				gap: 9px;
			}
		}

		&-svg {
			width: 23px;
			height: 23px;
		}

		&-text {
			width: 142px;

			@include breakpoints-max-width(lg) {
				width: 100px;
			}

			@include breakpoints-max-width(sm) {
				width: 100%;
			}
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 15px;

		@include breakpoints-max-width(sm) {
			width: 100%;
			gap: 10px;
		}
	}

	&__bottom-text,
	&__link {
		font-size: 16px;
		font-family: $supportFonts;

		@include breakpoints-max-width(sm) {
			font-size: 14px;
		}
	}

	&__bottom-text {
		@include breakpoints-max-width(sm) {
			&:after {
				content: "";
				top: 48px;
				right: -24%;
				display: flex;
				position: absolute;
				background: $line;
				height: 1px;
				width: 148%;

				@include breakpoints-max-width(xs) {
					width: 120%;
					right: -10%;
				}
			}
		}
	}

	&__link {
		color: $orange;
		transition: color 0.5s ease-in-out;

		&:hover {
			color: $purpleLite;

			@include breakpoints-max-width(md) {
				color: $orange;
			}
		}
	}
}
