<section class="health-section__container">
    <div class="health-section__content">
        <div class="health-section__left-block">
            <div class="health-section__left-purple-block">
                <svg class="health-section__left-svg">
                    <use href="#logo-white"></use>
                </svg>
            </div>
            <div class="health-section__left-circle-yellow"></div>
            <h2 class="health-section__left-title">
                Healthy doesn’t have to be hard. We make it easy.
            </h2>
            <picture class="health-section__left-img-block">
                <source
                    srcset="http://localhost:1337/uploads/small_main_lending_2_4cc72d0e8d.webp"
                    media="(max-width: 375px)"
                    width="500"
                    height="425"
                />
                <img
                    class="health-section__left-img"
                    src="http://localhost:1337/uploads/main_lending_2_4cc72d0e8d.webp"
                    width="530"
                    height="450"
                    alt="three jars of medicine on a white background"
                    loading="lazy"
                />
            </picture>
        </div>
        <div class="health-section__right-block">
            <ul class="health-section__right-items">
                <li class="health-section__right-item">
                    <svg class="health-section__right-svg">
                        <use href="#tablet-jar"></use>
                    </svg>
                    <span class="health-section__right-text"
                        >Healthy doesn’t have to be hard. We make it easy.</span
                    >
                </li>
                <li class="health-section__right-item">
                    <svg class="health-section__right-svg">
                        <use href="#plants"></use>
                    </svg>
                    <span class="health-section__right-text"
                        >Healthy doesn’t have to be hard. We make it easy.</span
                    >
                </li>
                <li class="health-section__right-item">
                    <svg class="health-section__right-svg">
                        <use href="#package"></use>
                    </svg>
                    <span class="health-section__right-text"
                        >Healthy doesn’t have to be hard. We make it easy.</span
                    >
                </li>
            </ul>
            <picture class="health-section__right-img-block">
                <source
                    srcset="http://localhost:1337/uploads/medium_Mask_Group_ba06adc03c.webp"
                    media="(max-width: 575px)"
                    width="750"
                    height="440"
                />
                <source
                    srcset="http://localhost:1337/uploads/small_Mask_Group_ba06adc03c.webp"
                    media="(max-width: 375px)"
                    width="500"
                    height="293"
                />
                <img
                    class="health-section__right-img"
                    src="http://localhost:1337/uploads/Mask_Group_ba06adc03c.webp"
                    width="801"
                    height="470"
                    alt="medicines in the form of a pattern on a yellow background"
                    loading="lazy"
                />
            </picture>
        </div>
    </div>
</section>
