<section>
    <div>
        <div>
            <div></div>
            <h3>Find out what <span>vitamins</span> your body needs right now.</h3>
            <p>
                Answer a few simple questions and automatically get a personalazed list of vitamins
                in minutes
            </p>
            <div>
                <load
                    src="src/components/base/button.html"
                    class_button="orange-button"
                    label="Take the quiz"
                    button_text="Take the quiz"
                />
                <a href="#"
                    ><span>Go to the shop</span><svg><use href="#"></use></svg
                ></a>
            </div>
            <div>
                <picture>
                    <img
                        src="http://localhost:1337/uploads/medium_main_lending_1_942521c9bd.webp"
                    />
                </picture>
            </div>
        </div>
    </div>
</section>
