<section class="main-section__container">
	<div class="main-section__content">
		<div class="main-section__text-block">
			<div class="main-section__arc-yellow arc__yellow">
				<div class="arc__white"></div>
			</div>
			<div class="main-section__arc-lite-red arc__lite-red">
				<div class="arc__white"></div>
			</div>
			<h3 class="main-section__title">
				Find out what
				<span class="main-section__title-orange">vitamins</span>
				your body needs right now.
			</h3>
			<p class="main-section__text">
				Answer a few simple questions and automatically get a personalazed list of vitamins in
				minutes
			</p>
			<div class="main-section__buttons">
				<a
					class="button purple-button main-section__button"
					href="/vitamin-online/src/pages/quiz.html">
					Take the quiz
				</a>
				<a
					class="main-section__link link"
					href="#">
					<span class="link__text link__text-orange">Go to the shop</span>
					<svg class="link__svg link__svg-orange">
						<use href="#arrow"></use>
					</svg>
				</a>
			</div>
		</div>
		<div class="main-section__img-block">
			<div class="main-section__circle-purple circle"></div>
			<picture class="main-section__img-container">
				<source
					srcset="http://localhost:1337/uploads/medium_main_lending_1_569f1e9851.webp"
					media="(max-width: 575px)"
					width="500"
					height="265" />
				<source
					srcset="http://localhost:1337/uploads/small_main_lending_1_569f1e9851.webp"
					media="(max-width: 375px)"
					width="245"
					height="130" />
				<img
					class="main-section__img"
					src="http://localhost:1337/uploads/main_lending_1_569f1e9851.webp"
					width="825"
					height="459"
					alt="beautiful image of two jars of medicine"
					loading="eager" />
			</picture>
			<div class="main-section__circle-yellow circle"></div>
		</div>
	</div>
</section>
