<section class="recommendation__container">
	<div class="recommendation__contact">
		<div class="recommendation__swiper-container">
			<div class="swiper recommendation__swiper">
				<div class="recommendation__product-cards"></div>
			</div>
		</div>
		<div class="recommendation__info-block">
			<div class="recommendation__info-red-block">
				<svg class="recommendation__info-svg">
					<use href="#logo-white"></use>
				</svg>
			</div>
			<div class="recommendation__info-text-block">
				<h2 class="recommendation__info-title">Choose your products</h2>
				<p class="recommendation__info-text">
					We'll help you create a health plan with vitamins, supplements, and more that help you
					feel your best today and support you long-term.
				</p>
				<a
					class="link recommendation__info-link"
					href="#">
					<span class="link__text link__text-white">Go to the shop</span>
					<svg class="link__svg link__svg-white">
						<use href="#arrow"></use>
					</svg>
				</a>
			</div>
			<picture class="recommendation__info-img-block">
				<img
					class="recommendation__info-img"
					src="http://localhost:1337/uploads/main_lending_6_09b8e83c62.webp"
					alt="an image with a white background, on which there are spoons made of wood with ampoules of medicine"
					width="444"
					height="416"
					loading="lazy" />
			</picture>
		</div>
	</div>
</section>
