<section class="quiz__mobile-container">
	<div class="quiz__content">
		<div class="quiz__title-block minerals">
			<a
				class="quiz__logo"
				href="vitamin-online/index.html">
				<svg class="quiz__logo-svg"><use href="#logo-white"></use></svg>
			</a>
			<h2 class="quiz__title">How frequently do you have cold/flu symptoms?</h2>
			<load
				src="src/components/base/button.html"
				class_button="quiz__back-button"
				label="Back"
				button_text="<svg class='quiz__back-svg'>
			<use href='#arrow'></use></svg>
			<span class='quiz__back-text'>Back</span>" />
		</div>
		<div class="quiz__forms-block">
			<p class="quiz__pagination-status">1/9</p>
			<div class="quiz__render"></div>
			<div class="quiz__bottom-block"></div>
		</div>
	</div>
</section>
