<section class="quiz__mobile-container">
	<div class="quiz__content">
		<div class="quiz__title-block minerals">
			<a class="quiz__logo">
				<svg class="quiz__logo-svg"><use href="#logo-white"></use></svg>
			</a>
			<h2 class="quiz__title">How frequently do you have cold/flu symptoms?</h2>
			<load
				src="src/components/base/button.html"
				class_button="quiz__back-button"
				label="Back"
				button_text="<svg class='quiz__back-svg'>
			<use href='#arrow'></use></svg>
			<span class='quiz__back-text'>Back</span>" />
		</div>
		<div class="quiz__forms-block">
			<p class="quiz__pagination-status">1/9</p>
			<div class="quiz__render">
				<!--				<div class="quiz__circle-yellow-eight-page circle"></div>-->
				<!--				<form-->
				<!--					class="quiz__form-grid"-->
				<!--					onsubmit="return false">-->
				<!--					<fieldset class="quiz__buttons-form-grid">-->
				<!--						<input-->
				<!--							class="quiz__input-value-button quiz__value-button"-->
				<!--							type="button"-->
				<!--							name="quiz-option"-->
				<!--							value="Weight managment"-->
				<!--							aria-label="Weight managment" />-->
				<!--						<input-->
				<!--							class="quiz__input-value-button quiz__value-button"-->
				<!--							type="button"-->
				<!--							name="quiz-option"-->
				<!--							value="Stress relief"-->
				<!--							aria-label="Stress relief" />-->
				<!--						<input-->
				<!--							class="quiz__input-value-button quiz__value-button"-->
				<!--							type="button"-->
				<!--							name="quiz-option"-->
				<!--							value="Immune boost"-->
				<!--							aria-label="Immune boost" />-->
				<!--						<input-->
				<!--							class="quiz__input-value-button quiz__value-button"-->
				<!--							type="button"-->
				<!--							name="quiz-option"-->
				<!--							value="Need to solve a sprcific problem"-->
				<!--							aria-label="Need to solve a sprcific problem" />-->
				<!--						<input-->
				<!--							class="quiz__input-value-button quiz__value-button"-->
				<!--							type="button"-->
				<!--							name="quiz-option"-->
				<!--							value="I need a bassic kit for a daily intake"-->
				<!--							aria-label="I need a bassic kit for a daily intake" />-->
				<!--						<input-->
				<!--							class="quiz__input-value-button quiz__value-button"-->
				<!--							type="button"-->
				<!--							name="quiz-option"-->
				<!--							value="All in one"-->
				<!--							aria-label="All in one" />-->
				<!--					</fieldset>-->
				<!--				</form>-->
				<!--				<svg class="quiz__arc-orange-eight"><use href="#arc-mini"></use></svg>-->
			</div>
			<div class="quiz__bottom-block"></div>
		</div>
	</div>
</section>
