<article class="banner__container banner__border">
	<div class="banner__circle circle"></div>
	<picture class="banner__img-block">
		<img
			class="banner__img"
			src="/src/assets/img/image 52.png"
			width="666"
			height="456"
			alt="beautiful image of two jars of medicine"
			loading="lazy" />
	</picture>
	<div class="banner__content minerals">
		<div class="banner__text-block">
			<h2 class="banner__title">Don’t know what vitamins your body needs?</h2>
			<p class="banner__text">
				Answer a few simple questions and automatically get a personalazed list of vitamins in
				minutes
			</p>
			<a
				class="button ivory-button banner__button"
				href="#">
				Take the quiz
			</a>
			<div class="banner__arc-yellow arc__yellow">
				<div class="banner__arc-white arc__white"></div>
			</div>
		</div>
		<div class="banner__picture-block">
			<svg class="banner__svg">
				<use href="#logo-white"></use>
			</svg>
		</div>
	</div>
</article>
