<section class="banners-swiper__container">
	<div class="banners-swiper__content">
		<div class="swiper banners-swiper__swiper">
			<div class="swiper-wrapper">
				<!--				<article class="swiper-slide banners-swiper__slide">-->
				<!--					<load src="src/components/medstogo_catalogue/banner.html" />-->
				<!--				</article>-->
				<!--				<article class="swiper-slide banners-swiper__slide">-->
				<!--					<load src="src/components/medstogo_catalogue/banner.html" />-->
				<!--				</article>-->
				<!--				<article class="swiper-slide banners-swiper__slide">-->
				<!--					<load src="src/components/medstogo_catalogue/banner.html" />-->
				<!--				</article>-->
			</div>
			<div class="swiper-pagination banners-swiper__pagination"></div>

			<div class="banners-swiper__button-prev">
				<svg class="banners-swiper__svg-prev"><use href="#arrow"></use></svg>
			</div>
			<div class="banners-swiper__button-next">
				<svg class="banners-swiper__svg-next"><use href="#arrow"></use></svg>
			</div>
			<!--			<div class="swiper-scrollbar"></div>-->
		</div>
	</div>
</section>
