<section class="forms__background">
	<div class="sing-up__container">
		<div class="sing-up__content">
			<div class="sing-up__header"></div>
			<div class="forms__block sing-up__block">
				<div class="sing-up__tabs-buttons">
					<button
						class="button sing-up__button-tab sing-up__button-tab_active"
						aria-label="Regular customer"
						data-tab="regular">
						Regular customer
					</button>
					<button
						class="button sing-up__button-tab"
						aria-label="Wholesale customer"
						data-tab="wholesale">
						Wholesale customer
					</button>
				</div>
				<p class="forms__text-border sing-up__text-border">Sign up with</p>
				<div class="forms__button-block sing-up__button-block">
					<load
						src="src/components/base/button.html"
						class_button="forms__button button ivory-button"
						label="Google"
						button_text="<svg class='forms__button-svg'><use href='#google'></use></svg>
					<span class='forms__button-text'>Google</span>" />
					<load
						src="src/components/base/button.html"
						class_button="forms__button button ivory-button"
						label="Apple"
						button_text="<svg class='forms__button-svg'><use href='#apple'></use></svg>
					<span class='forms__button-text'>Apple</span>" />
					<load
						src="src/components/base/button.html"
						class_button="forms__button button ivory-button"
						label="Facebook"
						button_text="<svg class='forms__button-svg'><use href='#facebook-logo'></use></svg>
					<span class='forms__button-text'>Facebook</span>" />
				</div>
				<p class="forms__text-border sing-up__text">or sign up using your email address...</p>
				<div class="sing-up__form-render"></div>
			</div>
			<span class="forms__bottom-text sing-up__bottom-text">
				Already have an account?
				<a
					class="forms__link"
					href="/vitamin-online/src/pages/sign-in.html">
					Sign in
				</a>
			</span>
		</div>
	</div>
</section>
