<section class="sing-in__background">
	<div class="sing-up__container">
		<div class="sing-up__content">
			<div class="sing-up__header">
				<a
					class="sing-in__logo-link"
					href="#">
					<svg class="sing-in__logo-svg">
						<use href="#logo"></use>
					</svg>
				</a>
			</div>
			<div class="sing-in__block sing-up__block">
				<div class="sing-up__tabs-buttons">
					<load
						src="src/components/base/button.html"
						class_button="button orange-button sing-up__button-tab"
						label="Regular customer"
						button_text="Regular customer" />
					<load
						src="src/components/base/button.html"
						class_button="button orange-button sing-up__button-tab"
						label="Create my account"
						button_text="Create my account" />
				</div>
				<p class="sing-in__text-border">or sign in with...</p>
				<div class="sing-in__button-block">
					<load
						src="src/components/base/button.html"
						class_button="sing-in__button button ivory-button"
						label="Google"
						button_text="<svg class='sing-in__button-svg'><use href='#google'></use></svg>
					<span class='sing-in__button-text'>Google</span>" />
					<load
						src="src/components/base/button.html"
						class_button="sing-in__button button ivory-button"
						label="Apple"
						button_text="<svg class='sing-in__button-svg'><use href='#apple'></use></svg>
					<span class='sing-in__button-text'>Apple</span>" />
					<load
						src="src/components/base/button.html"
						class_button="sing-in__button button ivory-button"
						label="Facebook"
						button_text="<svg class='sing-in__button-svg'><use href='#facebook-logo'></use></svg>
					<span class='sing-in__button-text'>Facebook</span>" />
				</div>
				<p class="sing-in__text-border">or sign up using your email address...</p>
				<form class="sing-in__form">
					<div class="sing-in__input-block">
						<label
							class="sing-in__input-label"
							for="email">
							Email
						</label>
						<input
							class="sing-in__input"
							name="email"
							id="email" />
					</div>
					<div class="sing-in__input-block">
						<label
							class="sing-in__input-label"
							for="first-name">
							First Name
						</label>
						<input
							class="sing-in__input"
							name="first-name"
							id="first-name" />
					</div>
					<div class="sing-in__input-block">
						<label
							class="sing-in__input-label"
							for="last-name">
							Last Name
						</label>
						<input
							class="sing-in__input"
							name="last-name"
							id="last-name" />
					</div>
					<div class="sing-in__input-block">
						<label
							class="sing-in__input-label"
							for="password">
							Password
						</label>
						<input
							class="sing-in__input"
							name="password"
							id="password" />
					</div>
				</form>
				<load
					src="src/components/base/button.html"
					class_button="button orange-button sing-in__button-main"
					label="Create my account"
					button_text="Create my account" />
			</div>
			<span class="sing-in__bottom-text">
				Don't have an account?
				<a
					class="sing-in__link"
					href="#">
					Create one
				</a>
			</span>
		</div>
	</div>
</section>
