<header class="header__container">
    <div class="header__content">
        <nav class="burger">
            <load
                src="src/components/base/button.html"
                class_button="burger__icon"
                label="burger menu"
                button_text="<span class='burger__icon-item'></span><span class='burger__icon-item'></span><span class='burger__icon-item'></span>"
            />
            <div class="burger__background">
                <button class="burger__button burger__link-user"  aria-label="open burger menu" data-header-sub-menu="0">
                    <svg class="burger__svg">
                        <use href="#user"></use>
                    </svg>
                </button>
                <nav class="burger-sub__menu" id="0">
                    <div class="burger-sub__header">
                        <button class="burger-sub__header-button" aria-label="close burger menu" data-header-sub-menu="0">
                            <svg class='burger-sub__header-svg'>
                                <use href='#arrow'></use>
                            </svg>
                        </button>
                        <h3 class="burger-sub__header-title">Profile</h3>
                    </div>
                    <ul class="burger-sub__list">
                        <li>
                            <a class="burger-sub__list-link" href="#">Subscriptions</a>
                        </li>
                        <li>
                            <a class="burger-sub__list-link" href="#"
                            >Orders</a
                            >
                        </li>
                        <li>
                            <a class="burger-sub__list-link" href="#">Account Overview</a>
                        </li>
                        <li>
                            <a class="burger-sub__list-link" href="#">Payment methods</a>
                        </li>
                        </li>
                        <li>
                            <a class="burger-sub__list-link" href="#">Change Password</a>
                        </li>
                        <li>
                            <a class="burger-sub__list-link burger-sub__list-link-red" href="#">Sign Out</a>
                        </li>
                    </ul>
                </nav>
                <nav class="burger-sub__buttons">
                    <button class="burger__button"  aria-label="open burger menu" data-header-sub-menu="1">
                        <span class="burger__button-title">Shop</span>
                        <svg class="burger__button-svg">
                            <use href="#arrow"></use>
                        </svg>
                    </button>
                    <nav class="burger-sub__menu" id="1">
                        <div class="burger-sub__header">
                            <button class="burger-sub__header-button" aria-label="close burger menu" data-header-sub-menu="1">
                                <svg class='burger-sub__header-svg'>
                                    <use href='#arrow'></use>
                                </svg>
                            </button>
                            <h3 class="burger-sub__header-title">Shop</h3>
                        </div>
                        <ul class="burger-sub__list">
                            <li>
                                <a class="burger-sub__list-link" href="#">All categories</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#"
                                    >Vitamins & Dietary Supplements</a
                                >
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Weight Loss</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Minerals</a>
                            </li>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Antioxidants</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Probiotics</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Pain Relief</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Prenatal Vitamins</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link burger-sub__list-link-red" href="#">Sale&#37;</a>
                            </li>
                        </ul>
                        <div class="burger-sub__text-block">
                            <h3 class="burger-sub__title">Don’t know what vitamins your body needs?</h3>
                            <p class="burger-sub__text">
                                Answer a few simple questions and automaticallyget a personalazed list
                                of vitamins in minutes
                            </p>
                            <load
                                    src="src/components/base/button.html"
                                    class_button="button orange-button burger-sub__button"
                                    label="Take the quiz"
                                    button_text="Take the quiz"
                            />
                        </div>
                    </nav>
                    <button class="burger__button" data-header-sub-menu="2">
                        <span class="burger__button-title">Information</span>
                        <svg class="burger__button-svg">
                            <use href="#arrow"></use>
                        </svg>
                    </button>
                    <nav class="burger-sub__menu" id="2">
                        <div class="burger-sub__header">
                            <button class="burger-sub__header-button" aria-label="close burger menu" data-header-sub-menu="2">
                                <svg class='burger-sub__header-svg'>
                                    <use href='#arrow'></use>
                                </svg>
                            </button>
                            <h3 class="burger-sub__header-title">Information</h3>
                        </div>
                        <ul class="burger-sub__list">
                            <li>
                                <a class="burger-sub__list-link" href="#">Subscription Cycle & Billing</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#"
                                >Terms & Conditions</a
                                >
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Shipping & Delivery</a>
                            </li>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Return Policy</a>
                            </li>
                        </ul>
                    </nav>
                    <a class="burger__button-title burger-sub__link-quiz" href="#">Take the quiz</a>
                </nav>
                <a class="burger__support-link" href="#">support@medstogo.com</a>
                <p class="burger__copyright">&copy; 2020 Vitamins.com / All rights reserved</p>
            </div>
        </nav>
        <a class="header__logo" href="#">
            <svg class="header__logo-svg">
                <use href="#logo"></use>
            </svg>
        </a>
        <ul class="header__items">
            <li class="header__item">
                <a class="header__link" href="#">
                    <svg class="header__svg">
                        <use href="#user"></use>
                    </svg>
                </a>
            </li>
            <li class="header__item">
                <a class="header__link" href="#">
                    <svg class="header__svg">
                        <use href="#basket"></use>
                    </svg>
                </a>
            </li>
            <li class="header__item">
                <load
                    src="src/components/base/button.html"
                    class_button="button orange-button header__button"
                    label="Take the quiz"
                    button_text="Take the quiz"
                />
            </li>
        </ul>
    </div>
</header>
