<header class="header__container">
    <div class="header__content">
        <nav class="burger">
            <load
                src="src/components/base/button.html"
                class_button="burger__icon"
                label="burger menu"
                button_text="<span class='burger__icon-item'></span><span class='burger__icon-item'></span><span class='burger__icon-item'></span>"
            />
            <div class="burger__background">
                <a class="burger__link" href="#">
                    <svg class="burger__svg">
                        <use href="#user"></use>
                    </svg>
                </a>
                <nav class="burger-sub__buttons">
                    <button class="burger__button">
                        <span class="burger__button-title">Shop</span>
                        <svg class="burger__button-svg">
                            <use href="#arrow"></use>
                        </svg>
                    </button>
                    <nav class="burger-sub__menu">
                        <div class="burger-sub__header">
                            <load
                                src="src/components/base/button.html"
                                class_button="burger-sub__header-button"
                                label="burger menu"
                                button_text=" <svg class='burger-sub__header-svg'><use href='#arrow'></use></svg>"
                            />
                            <h3 class="burger-sub__header-title">Shop</h3>
                        </div>
                        <ul class="burger-sub__list">
                            <li>
                                <a class="burger-sub__list-link" href="#">All categories</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#"
                                    >Vitamins & Dietary Supplements</a
                                >
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Weight Loss</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Minerals</a>
                            </li>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Antioxidants</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Probiotics</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Pain Relief</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link" href="#">Prenatal Vitamins</a>
                            </li>
                            <li>
                                <a class="burger-sub__list-link burger-sub__list-link-red" href="#">Sale&#37;</a>
                            </li>
                        </ul>
                        <div class="burger-sub__text-block">
                            <h3 class="burger-sub__title">Don’t know what vitamins your body needs?</h3>
                            <p class="burger-sub__text">
                                Answer a few simple questions and automaticallyget a personalazed list
                                of vitamins in minutes
                            </p>
                            <load
                                    src="src/components/base/button.html"
                                    class_button="orange-button burger-sub__button"
                                    label="Take the quiz"
                                    button_text="Take the quiz"
                            />
                        </div>
                    </nav>
                </nav>
            </div>
        </nav>
        <a class="header__logo" href="#">
            <svg class="header__logo-svg">
                <use href="#logo"></use>
            </svg>
        </a>
        <ul class="header__items">
            <li class="header__item">
                <a class="header__link" href="#">
                    <svg class="header__svg">
                        <use href="#user"></use>
                    </svg>
                </a>
            </li>
            <li class="header__item">
                <a class="header__link" href="#">
                    <svg class="header__svg">
                        <use href="#basket"></use>
                    </svg>
                </a>
            </li>
            <li class="header__item">
                <load
                    src="src/components/base/button.html"
                    class_button="orange-button header__button"
                    label="Take the quiz"
                    button_text="Take the quiz"
                />
            </li>
        </ul>
    </div>
</header>
