<header>
    <div>
        <a>
            <svg>
                <use href="#logo"></use>
            </svg>
        </a>
        <ul>
            <li>
                <a>
                    <svg>
                        <use href="#user"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a>
                    <svg>
                        <use href="#basket"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a>
                    <load
                        src="src/components/base/button.html"
                        class_button="orange-button"
                        label=""
                        button_text="Take the quiz"
                    />
                </a>
            </li>
        </ul>
    </div>
</header>
