<section class="error__container">
    <div class="error__content">
        <picture class="error__img-block">
            <source srcset="" media="" width="" height="" />
            <img
                class="error__img"
                src="http://localhost:1337/uploads/error_6483e54fef.webp"
                width="490"
                height="202"
                alt="image 404"
                loading="eager"
            />
        </picture>
        <h2 class="error__title">Page not found</h2>
        <p class="error__text">
            Unfortunately, the page you requested is out of date or does not exist
        </p>
        <a class="error__link button orange-button" href="#">Go to main page</a>
    </div>
</section>
