<section class="order-section__container">
	<div class="order-section__content">
		<svg class="order-section__svg">
			<use href="#logo"></use>
		</svg>
		<h1 class="order-section__title">Thanks for your order!</h1>
		<p class="order-section__text">
			Your order is now being processed, and will be despatched shortly.
		</p>
		<a
			class="button orange-button order-section__button"
			href="/vitamin-online/index.html">
			Go to main page
		</a>
		<p class="order-section__sub-text">
			If you have any problems with your order, please contact us by telephone on +44 (0)20 7424
			2800 (Mon-Fri, 10am-6pm GMT).
		</p>
	</div>
</section>
