.sing-up {
	&__content {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include breakpoints-max-width(sm) {
			margin-top: 23px;
		}
	}

	&__block {
		margin-top: 24px;

		@include breakpoints-max-width(md) {
			margin-top: 80px;
		}

		@include breakpoints-max-width(sm) {
			margin-top: 73px;
		}
	}

	&__tabs-buttons {
		display: flex;
		border: 1px solid $border;
		padding: 12px 11px 11px;
		border-radius: 15px;
		width: 682px;
		gap: 15px;

		@include breakpoints-max-width(lg) {
			width: 100%;
			gap: 10px;
		}

		@include breakpoints-max-width(sm) {
			padding: 8px 9px;
			gap: 5px;
		}
	}

	&__button-tab {
		color: $textTitle;
		padding: 18px 0 19px;
		width: 326px;
		border-radius: 12px;
		border: 2px solid $whitePage;
		transition:
			color 0.5s ease-in-out,
			border-color 0.5s ease-in-out;

		&:hover {
			border: 2px solid $orangeLink;

			@include breakpoints-max-width(md) {
				border: 2px solid $whitePage;
			}
		}

		@include breakpoints-max-width(lg) {
			width: 50%;
		}

		@include breakpoints-max-width(sm) {
			padding: 14px 17px;
			font-size: 16px;
		}

		&_active {
			color: $whitePage;
			background: $orangeLink;
			border: 2px solid $orangeLink;

			transition:
				color 0.5s ease-in-out,
				background-color 0.5s ease-in-out;

			&:hover {
				color: $orangeLink;
				background: transparent;
				border: 2px solid $orangeLink;

				@include breakpoints-max-width(md) {
					color: $whitePage;
					background: $orangeLink;
					border: 2px solid $orangeLink;
				}
			}
		}
	}

	&__text-border {
		margin-top: 55px;
		font-size: 26px;

		@include breakpoints-max-width(md) {
			font-size: 24px;
			margin-top: 35px;
		}

		&:after,
		&:before {
			top: 20px;
			height: 1px;
			width: 242px;

			@include breakpoints-max-width(lg) {
				width: 130%;
			}

			@include breakpoints-max-width(md) {
				display: none;
			}
		}

		&:after {
			left: 121%;
		}

		&:before {
			right: 121%;
		}
	}

	&__text {
		margin-top: 38px;

		&:after,
		&:before {
			height: 1px;
			width: 149px;

			@include breakpoints-max-width(lg) {
				width: 26%;
			}

			@include breakpoints-max-width(md) {
				display: none;
			}
		}

		&:after {
			left: 110%;
		}

		&:before {
			right: 110%;
		}
	}

	&__form {
		margin-top: 36px;

		@include breakpoints-max-width(sm) {
			width: 100%;
		}
	}

	&__form-render {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include breakpoints-max-width(sm) {
			width: 100%;
		}
	}

	&__button-main {
		margin-top: 5px;
		width: 100%;
		padding: 19px 0 18px;

		@include breakpoints-max-width(md) {
			padding: 16px 0 18px;
		}

		@include breakpoints-max-width(sm) {
			margin-top: 9px;
		}

		&_inactive {
			background: $gray;
			border: 2px solid $gray;
			opacity: 0.5;
			cursor: not-allowed;

			&:hover {
				color: $whitePage;
				background: $gray;
			}
		}
	}

	&__bottom-text {
		padding: 40px 0 40px;

		@include breakpoints-max-width(md) {
			padding: 80px 0 40px;
		}

		@include breakpoints-max-width(sm) {
			position: relative;

			&:after {
				top: 38px;
			}
		}
	}

	&__input {
		width: 444px;
		height: 56px;

		@include breakpoints-max-width(sm) {
			width: 100%;
		}
	}

	&__button-block {
		margin-top: 36px;

		@include breakpoints-max-width(sm) {
			margin-top: 24px;
		}
	}

	&__upload {
		background-color: $ivory;
		height: 54px;
		border-radius: 12px;
	}

	&__label-upload {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 67%;

		@include breakpoints-max-width(sm) {
			width: 58%;
		}
	}

	&__button-upload {
		top: 10px;
		right: 2%;
		position: absolute;
		font-size: 12px;
		padding: 9px 32px;
		border-radius: 12px;

		&:hover {
			background: $ivory;
		}
	}
}
