$purple: #6b5ebb;
$litePurple: #9c91e0;
$mint: #94d6be;
$liteMint: #89d4a7;
$pink: #da91e0;
$blue: #91caf2;
$yellow: #ffca78;
$orangeLite: #f2b385;
$orange: #ff7d4e;
$orangeText: #ed815e;
$orangeLink: #f27e58;
$purpleLite: #a5b3ff;
$redLite: #e8939d;
$redArc: #e99478;
$red: #d32d2c;
$cardWhite: #faf8f6;
$whitePage: #ffffff;
$textTitle: #000000;
$textColor: #808080;
$gray: #d4d3d1;
$commentary: #faf8f6;
