<section class="forms__background">
	<div class="pass-recovery__container">
		<div class="pass-recovery__content">
			<div class="pass-recovery__header"></div>
			<div class="pass-recovery__block forms__block">
				<h2 class="pass-recovery__title">Recover password</h2>
				<p class="pass-recovery__text">Please enter your email:</p>
				<form
					class="pass-recovery__form forms__form"
					id="recovery">
					<div class="input-block">
						<input
							class="pass-recovery__input input"
							name="email"
							id="email"
							placeholder="Email" />
					</div>
					<button
						class="pass-recovery__button button orange-button"
						aria-label="Recover"
						type="submit">
						Recover
					</button>
				</form>
			</div>
			<span class="forms__bottom-text pass-recovery__bottom-text">
				Remember your password?
				<a
					class="forms__link"
					href="/vitamin-online/src/pages/sign-in.html?form=regular">
					Back to login
				</a>
			</span>
		</div>
	</div>
</section>
