.main-section {
    &__content {
        display: flex;
        justify-content: space-between;
        margin: 170px auto 0;
        width: 90%;

        @include breakpoints-max-width(xl) {
            margin: 140px auto 0;
        }

        @include breakpoints-max-width(lg) {
            margin: 70px auto 0;
            width: 95%;
            flex-wrap: wrap;
            row-gap: 55px;
        }

        @include breakpoints-max-width(md) {
            margin: 45px auto 0;
            row-gap: 25px;
        }

        @include breakpoints-max-width(sm) {
            width: 100%;
            row-gap: 40px;
        }

        @include breakpoints-max-width(xs) {
            row-gap: 65px;
        }
    }

    &__text-block {
        position: relative;
        width: 46%;
        padding-left: 85px;

        @include breakpoints-max-width(xl) {
            width: 50%;
        }

        @include breakpoints-max-width(lg) {
            padding-left: 0;
            width: 85%;
            margin: 0 auto;
        }

        @include breakpoints-max-width(md) {
            width: 100%;
        }

        @include breakpoints-max-width(xs) {
            padding-left: 0;
            min-width: 0;
            height: 250px;
        }
    }

    &__arc {
        &-yellow {
            top: -58%;
            left: 39%;

            @include breakpoints-max-width(lg) {
                top: -53%;
                left: 50%;
            }

            @include breakpoints-max-width(md) {
                top: 87%;
                left: 79%;
            }

            @include breakpoints-max-width(sm) {
                top: 96%;
            }

            @include breakpoints-max-width(xs) {
                top: 96%;
            }
        }

        &-lite-red {
            top: 122%;
            left: 84%;

            @include breakpoints-max-width(xl) {
                left: 80%;
            }

            @include breakpoints-max-width(lg) {
                top: 152%;
                left: 10%;
            }

            @include breakpoints-max-width(md) {
                top: 109%;
                left: -30%;
            }

            @include breakpoints-max-width(sm) {
                top: 120%;
                left: -30%;
            }

            @include breakpoints-max-width(xs) {
                top: 125%;
                left: -37%;
            }
        }
    }

    &__title {
        font-size: 56px;

        @include breakpoints-max-width(xl) {
            font-size: 45px;
        }

        @include breakpoints-max-width(lg) {
            font-size: 35px;
        }

        @include breakpoints-max-width(md) {
            font-size: 24px;
            text-align: center;
        }

        &-orange {
            color: $orangeText;
        }
    }

    &__text {
        margin-top: 38px;
        width: 80%;
        font-size: 20px;

        @include breakpoints-max-width(lg) {
            margin-top: 28px;
            font-size: 16px;
            width: 100%;
            line-height: 163%;
        }

        @include breakpoints-max-width(md) {
            margin-top: 15px;
            font-size: 14px;
            text-align: center;
        }
    }

    &__buttons {
        margin-top: 50px;
        width: 440px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoints-max-width(lg) {
            margin-top: 30px;
            width: 340px;
        }

        @include breakpoints-max-width(md) {
            width: 100%;
            margin-top: 20px;
            flex-direction: column;
            gap: 20px;
        }
    }

    &__button {
        padding: 21px 62px;
        font-family: $supportFonts;
        font-size: 20px;

        @include breakpoints-max-width(lg) {
            padding: 15px 30px;
            font-size: 16px;
        }

        @include breakpoints-max-width(md) {
            padding: 12px 22px;
        }
    }

    &__img-block {
        position: relative;
        width: 50%;

        @include breakpoints-max-width(lg) {
            padding-left: 120px;
            margin: 0 auto;
            width: 85%;
            height: 1px;
            padding-bottom: 55.25%;
        }

        @include breakpoints-max-width(md) {
            padding-bottom: 56.25%;
            padding-left: 0;
            width: 85%;
        }

        @include breakpoints-max-width(sm) {
            padding-bottom: 65%;
            width: 100%;
        }

        @include breakpoints-max-width(xs) {
            padding-bottom: 75%;
        }
    }

    &__circle {
        &-purple {
            top: 52%;
            left: 59%;
            width: 5.23px;
            height: 5.23px;
            background: $purple;

            @include breakpoints-max-width(xl) {
                top: 44%;
                left: 61%;
                width: 4.2px;
                height: 4.2px;
            }

            @include breakpoints-max-width(lg) {
                top: 45%;
                left: 48%;
                width: 3.7px;
                height: 3.7px;
            }

            @include breakpoints-max-width(md) {
                display: none;
            }
        }

        &-yellow {
            top: -11%;
            left: 99%;
            width: 0.95px;
            height: 0.95px;
            background: $orangeLite;

            @include breakpoints-max-width(xl) {
                width: 0.65px;
                height: 0.65px;
            }

            @include breakpoints-max-width(lg) {
                top: -21%;
                left: 90%;
                width: 0.2px;
                height: 0.2px;
                border-radius: 150px;
            }

            @include breakpoints-max-width(md) {
                top: 75%;
                left: 70%;
                width: 0.1px;
                height: 0.1px;
            }

            @include breakpoints-max-width(sm) {
                top: 126%;
                left: 84%;
            }

            @include breakpoints-max-width(xs) {
                top: 110%;
                left: 74%;
            }
        }
    }

    &__img {
        margin: 87px 0 0 127px;
        position: absolute;
        max-width: 824px;
        width: 115%;

        @include breakpoints-max-width(xl) {
            margin: 60px 0 0 80px;
        }

        @include breakpoints-max-width(lg) {
            max-width: 94%;
            margin: 57px 0 0 0;
            min-width: 700px;
        }

        @include breakpoints-max-width(md) {
            margin: 0;
            max-width: 139%;
            min-width: 0;
        }

        @include breakpoints-max-width(sm) {
            min-width: 465px;
            z-index: -2;
        }

        @include breakpoints-max-width(xs) {
            min-width: 394px;
        }
    }
}
