.main-section {
    &__content {
        display: flex;
        justify-content: space-between;
        margin: 170px auto 0;
        width: 90%;

        @include breakpoints-max-width(xl) {
            margin: 140px auto 0;
        }

        @include breakpoints-max-width(lg) {
            margin: 70px auto 0;
            width: 95%;
            flex-wrap: wrap;
            row-gap: 55px;
        }

        @include breakpoints-max-width(md) {
            margin: 45px auto 0;
            row-gap: 25px;
        }

        @include breakpoints-max-width(sm) {
            width: 100%;
        }

        @include breakpoints-max-width(xs) {
            row-gap: 65px;
        }
    }

    &__text-block {
        position: relative;
        width: 46%;
        padding-left: 85px;

        @include breakpoints-max-width(xl) {
            width: 50%;
        }

        @include breakpoints-max-width(lg) {
            padding-left: 0;
            width: 85%;
            margin: 0 auto;
        }

        @include breakpoints-max-width(md) {
            width: 100%;
        }

        @include breakpoints-max-width(xs) {
            padding-left: 0;
            min-width: 0;
            height: 250px;
        }
    }

    &__arc {
        &-yellow,
        &-lite-red,
        &-white {
            clip-path: polygon(
                89.606% 0%,
                89.606% 0%,
                89.087% 12.884%,
                87.587% 25.107%,
                85.185% 36.504%,
                81.964% 46.912%,
                78.005% 56.167%,
                73.391% 64.107%,
                68.201% 70.567%,
                62.518% 75.383%,
                56.424% 78.393%,
                50% 79.433%,
                50% 79.433%,
                43.576% 78.393%,
                37.482% 75.383%,
                31.799% 70.567%,
                26.609% 64.107%,
                21.995% 56.167%,
                18.036% 46.912%,
                14.815% 36.504%,
                12.413% 25.107%,
                10.913% 12.884%,
                10.394% 0%
            );
            position: absolute;
            transform-origin: 50% 2%;
        }

        &-yellow,
        &-lite-red {
            width: 354px;
            height: 180px;
            z-index: 1;
            transition: scale 0.5s ease-in-out;

            @include breakpoints-max-width(xl) {
                width: 304px;
                height: 150px;
            }

            @include breakpoints-max-width(lg) {
                width: 172px;
                height: 85px;
                z-index: -1;
            }
        }

        &-white {
            width: 206px;
            height: 106px;
            top: -1px;
            left: 74px;
            background-color: $whitePage;
            z-index: 0;

            @include breakpoints-max-width(xl) {
                width: 186px;
                height: 95px;
                left: 58px;
            }

            @include breakpoints-max-width(lg) {
                width: 108px;
                height: 56px;
                left: 33px;
            }
        }

        &-yellow {
            top: -58%;
            left: 39%;
            background: $yellow;
            animation: rotate 8s linear infinite;

            @include breakpoints-max-width(lg) {
                top: -53%;
                left: 50%;
            }

            @include breakpoints-max-width(md) {
                top: 87%;
                left: 79%;
            }

            @include breakpoints-max-width(sm) {
                top: 96%;
            }

            @include breakpoints-max-width(xs) {
                top: 96%;
            }
        }

        &-lite-red {
            top: 122%;
            left: 84%;
            background: $redArc;
            animation: rotate 6s linear infinite;

            @include breakpoints-max-width(xl) {
                left: 80%;
            }

            @include breakpoints-max-width(lg) {
                top: 102%;
                left: 10%;
            }

            @include breakpoints-max-width(md) {
                top: 109%;
                left: -30%;
            }

            @include breakpoints-max-width(sm) {
                top: 120%;
                left: -30%;
            }

            @include breakpoints-max-width(xs) {
                top: 125%;
                left: -37%;
            }
        }
    }

    &__title {
        font-size: 56px;

        @include breakpoints-max-width(xl) {
            font-size: 45px;
        }

        @include breakpoints-max-width(lg) {
            font-size: 35px;
        }

        @include breakpoints-max-width(md) {
            font-size: 24px;
            text-align: center;
        }

        &-orange {
            color: $orangeText;
        }
    }

    &__text {
        margin-top: 38px;
        width: 80%;
        font-size: 20px;

        @include breakpoints-max-width(lg) {
            margin-top: 28px;
            font-size: 16px;
            width: 100%;
            line-height: 163%;
        }

        @include breakpoints-max-width(md) {
            margin-top: 15px;
            font-size: 14px;
            text-align: center;
        }
    }

    &__buttons {
        margin-top: 50px;
        width: 440px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoints-max-width(lg) {
            margin-top: 30px;
            width: 340px;
        }

        @include breakpoints-max-width(md) {
            width: 100%;
            margin-top: 20px;
            flex-direction: column;
            gap: 20px;
        }
    }

    &__button {
        padding: 21px 62px;
        font-family: $supportFonts;
        font-size: 20px;

        @include breakpoints-max-width(lg) {
            padding: 15px 30px;
            font-size: 16px;
        }

        @include breakpoints-max-width(md) {
            padding: 12px 22px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 7px;

        &-text {
            font-size: 20px;
            font-family: $mainFont;
            color: $orangeLink;

            @include breakpoints-max-width(md) {
                font-size: 14px;
            }
        }

        &-svg {
            fill: $orangeLink;
            width: 10px;
            height: 15px;

            @include breakpoints-max-width(md) {
                width: 10px;
                height: 10px;
            }
        }
    }

    &__img-block {
        position: relative;
        width: 50%;

        @include breakpoints-max-width(lg) {
            padding-left: 120px;
            margin: 0 auto;
            width: 85%;
            height: 350px;
        }

        @include breakpoints-max-width(md) {
            padding-left: 0;
            width: 85%;
            height: 250px;
        }

        @include breakpoints-max-width(sm) {
            height: 316px;
            width: 100%;
        }
    }

    &__circle {
        &-purple,
        &-yellow {
            border-radius: 100%;
            position: absolute;
            z-index: -1;
            transition: scale 0.5s ease-in-out;
        }

        &-purple {
            top: 52%;
            left: 59%;
            width: 5.23px;
            height: 5.23px;
            background: $purple;

            @include breakpoints-max-width(xl) {
                top: 44%;
                left: 61%;
                width: 4.2px;
                height: 4.2px;
            }

            @include breakpoints-max-width(lg) {
                top: 55%;
                left: 48%;
                width: 3.7px;
                height: 3.7px;
            }

            @include breakpoints-max-width(md) {
                display: none;
            }
        }

        &-yellow {
            top: -11%;
            left: 99%;
            width: 0.95px;
            height: 0.95px;
            background: $orangeLite;

            @include breakpoints-max-width(xl) {
                width: 0.65px;
                height: 0.65px;
            }

            @include breakpoints-max-width(lg) {
                top: -21%;
                left: 90%;
                width: 0.2px;
                height: 0.2px;
                border-radius: 150px;
            }

            @include breakpoints-max-width(md) {
                top: 110%;
                left: 84%;
                width: 0.1px;
                height: 0.1px;
            }

            @include breakpoints-max-width(sm) {
                top: 92%;
                left: 84%;
            }

            @include breakpoints-max-width(xs) {
                top: 92%;
                left: 74%;
            }
        }
    }

    &__img {
        margin: 87px 0 0 127px;
        position: absolute;
        max-width: 824px;
        width: 115%;
        min-width: 730px;

        @include breakpoints-max-width(xl) {
            margin: 60px 0 0 80px;
            min-width: 605px;
        }

        @include breakpoints-max-width(lg) {
            margin: 57px 0 0 0;
            min-width: 540px;
        }

        @include breakpoints-max-width(md) {
            padding-top: 16px;
            margin: 0;
            width: 139%;
            min-width: 0;
        }

        @include breakpoints-max-width(sm) {
            max-width: 560px;
            z-index: -2;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
